body {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

button,
p {
  -webkit-app-region: no-drag;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  position: absolute;
}

img {
  user-drag: none;
  user-select: none;
  -webkit-user-drag: none;
}
