body {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

button,
p {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
}

button {
  cursor: pointer;
  -webkit-app-region: no-drag;
}

img {
  user-drag: none;
  user-select: none;
  -webkit-user-drag: none;
}

img#background,
p,
span {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

p,
span {
  filter: blur(0.3px);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50%));
  }
}

.marquee {
  animation: marquee 15s linear infinite;
}
